@font-face {
	font-family: comfortaa;
	src: url(../fonts/comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
	font-family: comfortaa-light;
	src: url(../fonts/comfortaa/Comfortaa-Light.ttf);
}

@font-face {
	font-family: comfortaa-bold;
	src: url(../fonts/comfortaa/Comfortaa-Bold.ttf);
}