$blue: #5f81b8;

$green: #89b00c;
$light-green: #cef15d;
$dark-green: #666536;

$white: #fff;
$black: #000;
$gray: #32322a;
$light-gray: #e5e5e5;

$nav: $green;
$nav-header: $white;
$nav-sub-header: $dark-green;

$header: $blue;
$text: $gray;
$text-accent: $green;
$body-background: $light-gray;
$page-background: $white;

$font-size: 62.5%;
$font-family: Arial, Helvetica, sans-serif;
$image-path: '../images/';